@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');

.clear {
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}


.wrapper {
    width: 100%;
    min-height: 100%;
}

.menu {
    margin: 0;
    padding: 0;
}

.main-header {
    width: 100%;
    height: 70px;
    color: white;
    background-color: #333333;
    display: inline-flex;
    flex-direction: row;
}

.menu-group {
    list-style-type: none;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.omar {
    display: none !important;
}

.header-ul {
    /*width: 40%;*/
    /*padding-top: 10px;*/
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

.menu a {
    text-decoration: none;
    color: inherit;
    /*margin: 25px;*/
}

.header-text {
    margin: 0;
    width: 50%;
    padding: 23px 0 0 170px;
}


.menu {
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    color: white;
}

/*.header-ul a:hover {*/
.menu:hover, .home {
    /*padding: 22px 25px;*/
    background: #444;
    color: #f7c08a;
}

.enjoy-your-star {
    width: 100%;
    height: 600px;
    background: url('../design/showcase.jpg') no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.title-text {
    line-height: 55px;
    font-size: 45px;
    color: white;
}

.enjoy {
    color: #f7c08a;
}

.intro {
    margin-top: -15px;
    padding-bottom: 15px;
    color: white;
}

.enjoy-your-star a {
    text-decoration: none;
    text-align: center;
    padding: 12px;
    background: #333333;
    color: white;
}

.enjoy-your-star li {
    list-style-type: none;
}

.enjoy-your-star a:hover {
    padding: 12px;
    background: #333;
    color: white;
}

.the-history-our-hotel {
    color: white;
    height: 370px;
    width: 50%;
    float: right;
    background-color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.the-history-of-our-hotel-title {
    padding-top: 25px;
}

.text-the-history-of-hotel {
    padding: 0 25px 20px 25px;
}

.the-history-our-hotel a {
    text-decoration: none;
    text-align: center;
    padding: 12px;
    background: #f4f4f4;
    color: #33336b;
}

.the-history-our-hotel li {
    list-style-type: none;
}

.the-history {
    color: #f7c08a;
}

.photo1 {
    width: 50%;
    height: 370px;
    float: left;
}

.places {
    width: 100%;
    color: white;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.list {
    display: flex;
    align-items: center;
    height: 300px;
    color: #333333;
    text-align: center;
}

.list a {
    text-decoration: none;
    color: inherit;
}

.list:hover, .middle {
    background: #f7c08a;
    color: #444;
}

.main-footer {
    color: #f4f4f4;
    background-color: #444444;
    height: 45px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

.places p {
    padding: 0 50px;
}

.hold {
    font-size: 3rem;

}

.places h1 {
    font-size: 20px;
    padding-bottom: 5px;
}
















@media (max-width: 900px) {

    .main-header {
        height: 45px;
    }

    .omar {
        display: flex !important;
        font-size: 2rem;
        padding-right: 15px;
        padding-top: 5px;
    }

    .header-text {
        width: 80%;
        padding: 9px 0 0 70px;
    }

    .header-ul {
        display: none;
        position: absolute;
        top: 3em;
        right: 0;
    }

    .menu-group {
        position: relative;
    }

    .menu {
        display: block;
        text-align: center;
       padding-top: 20px;
        height: 50px;
       background-color: #444;
    }

    .header-ul li{
        margin-bottom: 10px;
    }

    .enjoy-your-star {
        width: 100%;
        height: 400px;
        background: url('../design/showcase.jpg') no-repeat;
        background-size: cover;
        text-align: center;
        justify-content: center;
    }


    .list a {
        display: block;
        text-decoration: none;
        color: inherit;
    }

    .places {
        flex-direction: column;
    }

    .places p {
        padding: 0;
        margin: 0;
    }

    .the-history-our-hotel {
        height: 350px;
        width: 100%;
        background-color: #333;
        text-align: center;
        display: block;
    }

    .text-the-history-of-hotel {
        padding: 0 25px 20px 25px;
    }

    .photo1 {
        width: 100%;
        height: 350px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .main-footer {
        height: 35px;
        width: 100%;
        text-align: center;
        display: block;
        font-size: 14px;
    }

    .main-footer p{
        padding-top: 5px;
        margin-block-start: 0;
        margin-block-end: 0;
    }


}











@media (max-width: 500px) {

    .the-history-our-hotel {
        height: 400px;
    }

    .header-text {
        width: 80%;
        padding: 9px 0 0 35px;
    }
    .main-footer {
        font-size: 15px;
    }

    .main-footer p{
        padding-top: 5px;
    }

}



















